swagger: '2.0'
info:
  version: 0.0.3
  title: Dfam API
  description: |
    The Dfam API is an interface to the Dfam database.
    Repeats defined in the Dfam database are annotated for use with
    RepeatMasker using a combination of automated and manual steps.

    For more information on getting started with the Dfam API, see
    the documentation and examples at http://dfam.org/help/api

    ### Known Consumers

    http://dfam.org/

    #### Authors
    Robert Hubley, Arian Smit, Travis Wheeler, Jeb Rosen

    Copyright 2016-2018 Institute for Systems Biology
  contact:
    name: Dfam Consortium
    url: 'https://dfam.org/about'
    email: 'help@dfam.org'
  license:
    name: CC0 1.0
    url: 'https://creativecommons.org/publicdomain/zero/1.0/'
  termsOfService: 'https://creativecommons.org/publicdomain/zero/1.0/'
host: 'dfam.org'
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
#securityDefinitions:
#  Bearer:
#    type: apiKey
#    in: header
#    name: Authorization
paths:
  /version:
    x-swagger-router-controller: Version
    get:
      produces:
        - application/json
      description: Get the current version of the API.
      tags:
        - version
      operationId: getVersion
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/versionResponse'
        default:
          description: Error
          schema:
            type: string
  /blogposts:
    x-swagger-router-controller: Blog
    get:
      produces:
        - application/json
      description: Get a list of recent Dfam blog posts. This API is meant for use on dfam.org and the details are not documented.
      tags:
        - blog
      operationId: readBlogPosts
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
        default:
          description: Error
          schema:
            type: string
#  /authenticate:
#    x-swagger-router-controller: Authenticate
#    post:
#      consumes:
#        - application/x-www-form-urlencoded
#      produces:
#        - application/json
#      description: Obtain API access token for previously registered user.
#      tags:
#        - authenticate
#      operationId: authenticate
#      parameters:
#        - name: email
#          in: formData
#          description: User's email address as username
#          required: true
#          type: string
#        - name: password
#          in: formData
#          description: User's password for obtaining API access token
#          required: true
#          type: string
#      responses:
#        '200':
#          description: Success
#          schema:
#            $ref: '#/definitions/loginResponse'
#        default:
#          description: Error
#          schema:
#            $ref: '#/definitions/ErrorResponse'
#  /register:
#    x-swagger-router-controller: Register
#    post:
#      consumes:
#        - application/x-www-form-urlencoded
#      produces:
#        - application/json
#      description: Register a new account with the API.
#      tags:
#        - register
#      operationId: register
#      parameters:
#        - name: email
#          in: formData
#          description: User's email address
#          required: true
#          type: string
#        - name: name
#          in: formData
#          description: User's full name
#          required: true
#          type: string
#        - name: password
#          in: formData
#          description: User's password for obtaining API access token
#          required: true
#          type: string
#      responses:
#        '200':
#          description: Success
#          schema:
#            type: string
#        default:
#          description: Error
#          schema:
#            $ref: '#/definitions/ErrorResponse'
#  /verify:
#    x-swagger-router-controller: Register
#    get:
#      produces:
#        - text/plain
#      description: Verify a user's email address.
#      tags:
#        - register
#      operationId: verifyEmail
#      parameters:
#        - name: token
#          in: query
#          description: User's email verification token
#          required: true
#          type: string
#      responses:
#        '200':
#          description: Success
#          schema:
#            type: string
#        default:
#          description: Error
#          schema:
#            $ref: '#/definitions/ErrorResponse'
  /assemblies:
    x-swagger-router-controller: Assemblies
    get:
      description: Retrieve a list of all assemblies in Dfam that have annotations.
      tags:
        - assemblies
      operationId: readAssemblies
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/assembliesResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /families:
    x-swagger-router-controller: Families
    get:
      description: Get a list of families in Dfam, optionally filtered and sorted.
      tags:
        - families
      operationId: readFamilies
      parameters:
        - name: format
          in: query
          description: Desired output format. "summary" and "full" are the only formats currently recognized. Defaults to "summary".
          required: false
          type: string
        - name: sort
          in: query
          description: A string containing sort columns, for example "name:asc,length:desc". Sorting by any of "accession", "name", "length", and "type", "subtype", "date_created", and "date_modified" are supported. If unspecified, "accession:asc" will be used.
          required: false
          type: string
        - name: name
          in: query
          description: Search term for any part of the repeat name. Takes precedence over "name_prefix" if both are specified.
          required: false
          type: string
        - name: name_prefix
          in: query
          description: Search term for a prefix of the repeat name.
          type: string
        - name: name_accession
          in: query
          description: Search term for any part of the repeat name or accession
          required: false
          type: string
        - name: classification
          in: query
          description: Search term for repeat classification. Sub-classifications are included. A full classification lineage is expected for this search term; such as "root;Interspersed_Repeat".
          required: false
          type: string
        - name: clade
          in: query
          description: Search term for repeat clade. Can be either an NCBI Taxonomy ID or scientific name. If the scientific name is ambiguous (e.g. "Drosophila"), the taxonomy ID should be used instead.
          required: false
          type: string
        - name: clade_relatives
          in: query
          description: >-
            Relatives of the requested clade to include: 'ancestors',
            'descendants', or 'both'
          required: false
          type: string
        - name: type
          in: query
          description: Search term for repeat type, as understood by RepeatMasker.
          required: false
          type: string
        - name: subtype
          in: query
          description: Search term for repeat subtype, as understood by RepeatMasker.
          required: false
          type: string
        - name: updated_after
          in: query
          description: Filter by "updated on or after" date
          required: false
          type: string
          format: date
        - name: updated_before
          in: query
          description: Filter by "updated on or before" date
          required: false
          type: string
          format: date
        - name: desc
          in: query
          description: Search term for repeat description.
          required: false
          type: string
        - name: keywords
          in: query
          description: Keywords to search in text fields (currently name, title, description, accession, author).
          required: false
          type: string
        - name: start
          in: query
          description: Index of first record to return. Commonly used along with `limit` to implement paging.
          required: false
          type: integer
        - name: limit
          in: query
          description: Maxium number of records to return.
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/familiesResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}':
    x-swagger-router-controller: Families
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
    get:
      description: Retrieve full details of an individual Dfam family.
      tags:
        - families
      operationId: readFamilyById
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/familyResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/hmm':
    x-swagger-router-controller: Families
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
    get:
      description: Retrieve an individual Dfam family's annotated HMM
      tags:
        - families
      operationId: readFamilyHmm
      parameters:
        - name: format
          in: query
          description: 'The desired output format: "hmm", "logo", or "image"'
          required: true
          type: string
        - name: download
          in: query
          description: If true, adds headers to trigger a browser download
          required: false
          type: boolean
      produces:
        - text/plain
        - image/png
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/sequence':
    x-swagger-router-controller: Families
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
    get:
      description: Retrieve an individual Dfam family's annotated consensus sequence. If only the raw sequence is needed, use the `consensus_sequence` property from the `/families/{id}` endpoint instead.
      tags:
        - families
      operationId: readFamilySequence
      parameters:
        - name: format
          in: query
          description: 'The desired output format. currently only "embl" is supported.'
          required: true
          type: string
        - name: download
          in: query
          description: If true, adds headers to trigger a browser download
          required: false
          type: boolean
      produces:
        - text/plain
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/seed':
    x-swagger-router-controller: Families
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
    get:
      description: Retrieve an individual Dfam family's seed alignment data
      tags:
        - families
      operationId: readFamilySeed
      produces:
        - text/plain
      parameters:
        - name: format
          in: query
          description: The format to return, one of 'stockholm' or 'alignment_summary'
          required: true
          type: string
        - name: download
          in: query
          description: If true, adds headers to trigger a browser download
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/relationships':
    x-swagger-router-controller: Families
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
    get:
      description: Retrieve an individual Dfam family's relationship information
      tags:
        - families
      operationId: readFamilyRelationships
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/assemblies':
    x-swagger-router-controller: FamilyAssemblies
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
    get:
      description: Retrieve a list of assemblies with annotations for this Dfam family.
      tags:
        - familyAssemblies
      operationId: readFamilyAssemblies
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/familyAssembliesResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/assemblies/{assembly_id}/model_coverage':
    x-swagger-router-controller: FamilyAssemblies
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
      - name: assembly_id
        in: path
        description: The assembly identifier, as shown in /families/{id}/assemblies
        required: true
        type: string
    get:
      description: Retrieve a family's coverage data associated with a given assembly
      tags:
        - familyAssemblies
      operationId: readFamilyAssemblyModelCoverage
      parameters:
        - name: model
          in: query
          description: 'Model type, "cons" or "hmm"'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              nrph:
                type: string
              all:
                type: string
              'false':
                type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/assemblies/{assembly_id}/model_conservation':
    x-swagger-router-controller: FamilyAssemblies
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
      - name: assembly_id
        in: path
        description: The assembly identifier, as shown in /families/{id}/assemblies
        required: true
        type: string
    get:
      description: Retrieve a family's conservation data associated with a given assembly
      tags:
        - familyAssemblies
      operationId: readFamilyAssemblyModelConservation
      parameters:
        - name: model
          in: query
          description: 'Model type, "cons" or "hmm"'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                threshold:
                  type: string
                max_insert:
                  type: integer
                num_seqs:
                  type: integer
                graph:
                  type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/assemblies/{assembly_id}/annotations':
    x-swagger-router-controller: FamilyAssemblies
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
      - name: assembly_id
        in: path
        description: The assembly identifier, as shown in /families/{id}/assemblies
        required: true
        type: string
    get:
      description: Retrieve a family's annotations associated with a given assembly
      tags:
        - familyAssemblies
      operationId: readFamilyAssemblyAnnotations
      parameters:
        - name: nrph
          in: query
          description: '"true" to include only non-redundant profile hits'
          required: true
          type: boolean
        - name: download
          in: query
          description: If true, adds headers to trigger a browser download
          required: false
          type: boolean
      produces:
        - text/plain
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/assemblies/{assembly_id}/annotation_stats':
    x-swagger-router-controller: FamilyAssemblies
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
      - name: assembly_id
        in: path
        description: The assembly identifier, as shown in /families/{id}/assemblies
        required: true
        type: string
    get:
      description: Retrieve a family's annotation statistics associated with a given assembly
      tags:
        - familyAssemblies
      operationId: readFamilyAssemblyAnnotationStats
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/familyAssemblyAnnotationStatsResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/families/{id}/assemblies/{assembly_id}/karyotype':
    x-swagger-router-controller: FamilyAssemblies
    parameters:
      - name: id
        in: path
        description: The Dfam family accession
        required: true
        type: string
      - name: assembly_id
        in: path
        description: The assembly identifier, as shown in /families/{id}/assemblies
        required: true
        type: string
    get:
      description: Retrieve a family's karyotype data associated with a given assembly
      tags:
        - familyAssemblies
      operationId: readFamilyAssemblyKaryotype
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /classes:
    x-swagger-router-controller: Classification
    get:
      description: Get the entire repeat classification hierarchy used by Dfam.
      tags:
        - classification
      operationId: readClassification
      parameters:
        - name: name
          in: query
          description: Classification name to search for. If given, the results will be returned as an array instead of the default hierarchical format.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/classesResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /taxa:
    x-swagger-router-controller: Taxa
    get:
      description: Query Dfam's copy of the NCBI taxonomy database.
      tags:
        - taxa
      operationId: readTaxa
      parameters:
        - name: name
          in: query
          description: Search string for taxonomy name
          required: true
          type: string
        - name: annotated
          in: query
          description: Whether only taxa with annotated assemblies should be returned.
          required: false
          type: boolean
        - name: limit
          in: query
          description: Only return up to a maximum number of matching taxa
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/taxaResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /annotations:
    x-swagger-router-controller: Annotations
    get:
      description: Retrieve annotations for a given assembly in a given range.
      tags:
        - annotations
      operationId: readAnnotations
      parameters:
        - name: assembly
          in: query
          description: Assembly to search. A list of assemblies is available at `/assemblies`.
          required: true
          type: string
        - name: chrom
          in: query
          description: Chromosome to search. Assembly dependent, but normally in the "chrN" format.
          required: true
          type: string
        - name: start
          in: query
          description: Start of the sequence range.
          required: true
          type: integer
        - name: end
          in: query
          description: End of the sequence range.
          required: true
          type: integer
        - name: family
          in: query
          description: An optional family to restrict results to.
          required: false
          type: string
        - name: nrph
          in: query
          description: '`true` to exclude redundant profile hits.'
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/annotationsResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /alignment:
    x-swagger-router-controller: Alignment
    get:
      description: Query the alignment of a family to an assembly. This API is meant for use on dfam.org and the details are not documented.
      tags:
        - alignment
      operationId: readAlignment
      parameters:
        - name: assembly
          in: query
          description: Assembly to align to. A list of assemblies is available at `/assemblies`.
          required: true
          type: string
        - name: chrom
          in: query
          description: Chromosome to align to.
          required: true
          type: string
        - name: start
          in: query
          description: Start of the sequence range.
          required: true
          type: integer
        - name: end
          in: query
          description: End of the sequence range.
          required: true
          type: integer
        - name: family
          in: query
          description: The family to align against.
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  /searches:
    x-swagger-router-controller: Searches
    post:
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      description: Submit a sequence search request
      tags:
        - searches
      operationId: submitSearch
      parameters:
        - name: sequence
          in: formData
          description: Sequence data to search, in FASTA format.
          required: true
          type: string
        - name: organism
          in: formData
          description: Source organism of the sequence, used for determining search thresholds.
          required: false
          type: string
        - name: cutoff
          in: formData
          description: Type of cutoff to use, either 'curated' or 'evalue'.
          required: true
          type: string
        - name: evalue
          in: formData
          description: E-value cutoff to use in the search. Only effective if `cutoff` is set to `'evalue'`.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/submitSearchResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/searches/{id}':
    x-swagger-router-controller: Searches
    get:
      description: Retrieve the results of a sequence search.
      tags:
        - searches
      operationId: readSearchResults
      parameters:
        - name: id
          in: path
          description: A result set ID matching the ID returned by a previous search submission.
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/searches/{id}/alignment':
    x-swagger-router-controller: Searches
    get:
      description: Retrieve an alignment from a sequence search result.
      tags:
        - searches
      operationId: readSearchResultAlignment
      parameters:
        - name: id
          in: path
          description: The result set ID returned by the API at submission time.
          required: true
          type: string
        - name: sequence
          in: query
          description: The name of the input sequence to align.
          required: true
          type: string
        - name: start
          in: query
          description: Start of the sequence range.
          required: true
          type: integer
        - name: end
          in: query
          description: End of the sequence range.
          required: true
          type: integer
        - name: family
          in: query
          description: The family to align against.
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorResponse'
#  '/users/{userId}/files':
#    x-swagger-router-controller: Files
#    parameters:
#      - name: userId
#        in: path
#        required: true
#        type: string
#    get:
#      security:
#        - Bearer: []
#      produces:
#        - application/json
#      description: Get details on submitted and unproccesed files
#      tags:
#        - files
#      operationId: getSubmittedFiles
#      responses:
#        '200':
#          description: Success
#          schema:
#            type: string
#        default:
#          description: Error
#          schema:
#            type: string
#    post:
#      security:
#        - Bearer: []
#      consumes:
#        - multipart/form-data
#      produces:
#        - application/json
#      description: Upload misc datasets for submission to Dfam
#      tags:
#        - files
#      operationId: uploadFileOrChunk
#      parameters:
#        - name: guid
#          in: formData
#          required: false
#          type: string
#        - name: title
#          in: formData
#          required: false
#          type: string
#        - name: description
#          in: formData
#          required: false
#          type: string
#        - name: citations
#          in: formData
#          required: false
#          type: string
#        - name: fileDescription
#          in: formData
#          required: false
#          type: string
#        - name: flowChunkNumber
#          in: formData
#          required: false
#          type: integer
#        - name: flowChunkSize
#          in: formData
#          required: false
#          type: integer
#        - name: flowCurrentChunkSize
#          in: formData
#          required: false
#          type: integer
#        - name: flowTotalSize
#          in: formData
#          required: false
#          type: integer
#        - name: flowType
#          in: formData
#          required: false
#          type: string
#        - name: flowIdentifier
#          in: formData
#          required: false
#          type: string
#        - name: flowFilename
#          in: formData
#          required: false
#          type: string
#        - name: flowRelativePath
#          in: formData
#          required: false
#          type: string
#        - name: flowTotalChunks
#          in: formData
#          required: false
#          type: integer
#        - name: file
#          in: formData
#          required: false
#          description: something
#          type: file
#      responses:
#        '200':
#          description: Success
#          schema:
#            type: string
#        default:
#          description: Error
#          schema:
#            type: string
#  '/users/{userId}/files/status':
#    x-swagger-router-controller: fileSubmission
#    parameters:
#      - name: userId
#        in: path
#        required: true
#        type: string
#    get:
#      security:
#        - Bearer: []
#      produces:
#        - application/json
#      description: Upload misc datasets for submission to Dfam
#      tags:
#        - files
#      operationId: checkFileOrChunk
#      parameters:
#        - name: flowChunkNumber
#          in: query
#          required: false
#          type: integer
#        - name: flowChunkSize
#          in: query
#          required: false
#          type: integer
#        - name: flowCurrentChunkSize
#          in: query
#          required: false
#          type: integer
#        - name: flowTotalSize
#          in: query
#          required: false
#          type: integer
#        - name: flowIdentifier
#          in: query
#          required: false
#          type: string
#        - name: flowFilename
#          in: query
#          required: false
#          type: string
#        - name: flowRelativePath
#          in: query
#          required: false
#          type: string
#        - name: flowTotalChunks
#          in: query
#          required: false
#          type: string
#      responses:
#        '200':
#          description: Success
#          schema:
#            type: string
#        default:
#          description: Error
#          schema:
#            type: string
definitions:
#  loginResponse:
#    required:
#      - token
#    properties:
#      token:
#        type: string
  assembliesResponse:
    type: array
    items:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Assembly identifier, used in API parameters and responses.
        name:
          type: string
          description: The scientific name of the organism this assembly corresponds to.
  taxaResponse:
    required:
      - taxa
    properties:
      taxa:
        type: array
        items:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: number
              description: Taxon identifier, as provided by the NCBI Taxonomy database.
            name:
              type: string
              description: Display name. Intended to be unambiguous, but this should not be relied on.
  classesResponse:
    required:
      - name
      - full_name
      - children
    properties:
      name:
        type: string
        description: The name of this level of the classification hierarchy.
      tooltip:
        type: string
        description: A short description of the classification.
      description:
        type: string
        description: Additional details of the classification.
      hyperlink:
        type: string
        description: Link to an external resource with more information on the classification.
      full_name:
        type: string
        description: Semicolon-delimited hierarchical path to this classification, starting from the root.
      repeatmasker_type:
        type: string
        description: Corresponding 'Type' for use with RepeatMasker.
      repeatmasker_subtype:
        type: string
        description: Corresponding 'SubType' for use with RepeatMasker.
      count:
        type: string
        description: The number of families in the database with this classification.
      repbase_equiv:
        type: string
        description: The name of the equivalent classification in RepBase.
      wicker_equiv:
        type: string
        description: The name of the equivalent Wicker classification.
      curcio_derbyshire_equiv:
        type: string
        description: The name of the equivalent Curcio-Derbyshire classification.
      piegu_equiv:
        type: string
        description: The name of the equivalent Piegu classification.
      children:
        type: array
        items:
          $ref: '#/definitions/classesResponse'
        description: Hierarchical child classifications of this classification.
  familiesResponse:
    required:
      - total_count
      - results
    properties:
      total_count:
        type: integer
        description: The total number of results that match the search terms in the database, regardless of any limit and/or offset provided.
      results:
        type: array
        items:
          $ref: '#/definitions/familyResponse'
  familyResponse:
    required:
      - accession
      - name
    additionalProperties: false
    properties:
      accession:
        type: string
        description: A name of the form DF1234567 that is a unique identifier for the family.
      name:
        type: string
        description: A human-readable short name for the family. Historically, this was known to be unique but this should not be relied upon.
      title:
        type: string
        description: A short description or tagline describing the family.
      description:
        type: string
        description: A more detailed description of the family, including any details that do not fit into another available field.
      length:
        type: integer
        description: The length of the family's seed alignment, consensus sequence, and Profile Hidden Markov Model.
      classification:
        type: string
        description: The semicolon-delimited full hierarchy of the family's classification.
      repeat_type_name:
        type: string
        description: The RepeatMasker type of the family.
      repeat_subtype_name:
        type: string
        description: The RepeatMasker subtype of the family.
      consensus_sequence:
        type: string
        description: The family's consensus sequence. This may be derived from the seed alignment, the profile HMM, or hand curation.
      author:
        type: string
        description: Freeform text; a list of authors involved in the curation and description of the family.
      submitter:
        type: string
        description: The name of the user who submitted the family to Dfam.
      date_created:
        type: string
        description: The date upon which the family was registered in Dfam.
      date_modified:
        type: string
        description: The most recent date upon which the family was modified.
      curation_state_name:
        type: string
        description: The curation state of the family, for example 'Released' or 'Pending'.
      curation_state_description:
        type: string
        description: A human-readable explanation of the meaning of the curation state.
      target_site_cons:
        type: string
        description: The target site consensus for the family, if known.
      refineable:
        type: boolean
        description: Deprecated flag used by RepeatMasker.
      disabled:
        type: boolean
      model_mask:
        type: string
        description: Regions of the family's pHMM known to produce many false positive matches.
      hmm_general_threshold:
        type: number
        description: Threshold used when searching for the family in a DNA sequence from an unknown or new organism.
      aliases:
        type: array
        items:
          type: object
          required:
            - database
            - alias
          properties:
            database:
              type: string
              description: Name of the database the alias is found in.
            alias:
              type: string
              description: The alias for the family in another database.
      search_stages:
        type: array
        items:
          type: object
          required:
            - name
          properties:
            name:
              type: string
              description: Names of RepeatMasker search stages the family is processed in.
      buffer_stages:
        type: array
        items:
          type: object
          required:
            - name
            - start
            - end
          properties:
            name:
              type: string
              description: The name of the RepeatMasker buffer stage the family is processed in.
            start:
              type: integer
            end:
              type: integer
      citations:
        type: array
        description: Publications pertinent to the family.
        items:
          type: object
          properties:
            pmid:
              type: integer
              description: The PubMed ID for the citation.
            title:
              type: string
              description: The article title.
            authors:
              type: string
              description: Authors of the article.
            journal:
              type: string
              description: The name of the cited journal.
            pubdate:
              type: string
              description: Date of article publication.
      clades:
        type: array
        description: A list of clades the family is known to be found in, each in semicolon-delimited hierarchical format.
        items:
          type: string
      coding_seqs:
        type: array
        description: Known coding sequences in the family.
        items:
          type: object
          properties:
            product:
              type: string
              description: Name of the product of the coding sequence.
            translation:
              type: string
              description: Amino acid translation of the coding sequence.
            cds_start:
              type: integer
              description: The start position of the coding sequence within the family.
            cds_end:
              type: integer
              description: The end position of the coding sequence within the family.
            exon_count:
              type: integer
              description: The number of exons in the coding sequence.
            exon_starts:
              type: array
              description: List of exon start positions.
              items:
                type: integer
            exon_ends:
              type: array
              description: List of exon end positions.
              items:
                type: integer
            external_reference:
              type: string
              description: "'null' for all coding sequences that come from Dfam families."
            reverse:
              type: boolean
              description: "'true' if the coding sequence is on the reverse strand."
            stop_codons:
              type: integer
              description: The number of stop codons in the most recent alignment to the family.
            frameshifts:
              type: integer
              description: The number of frameshifts in the most recent alignment to the family.
            gaps:
              type: integer
              description: The number of gaps in the most recent alignment to the family.
            percent_identity:
              type: number
              description: Percent identity with the most recent alignment to the family.
            left_unaligned:
              type: integer
              description: The number of amino acids not aligned to the 5' end of the reference sequence.
            right_unaligned:
              type: integer
              description: The number of amino acids not aligned to the 3' end of the reference sequence.
            classification_id:
              type: integer
              description: "'null' for all coding sequences that come from Dfam families."
            align_data:
              type: string
              description: (For future expansion) The alignment of each coding sequence. Not currently populated.
            description:
              type: string
              description: Freeform description of the coding sequence.
            protein_type:
              type: string
      features:
        type: array
        description: Miscellaneous features of the family, such as strucural defintions and binding sites.
        items:
          type: object
          properties:
            type:
              type: string
              description: The type of the feature.
            description:
              type: string
              description: Human-readable description of the feature.
            model_start_pos:
              type: integer
              description: Start posotion of the feature within the family model.
            model_end_pos:
              type: integer
              description: End posotion of the feature within the family model.
            label:
              type: string
              description: Short label for this feature.
            attributes:
              type: array
              description: List of additional attributes for this feature.
              items:
                type: object
                properties:
                  attribute:
                    type: string
                  value:
                    type: string

  familyAssembliesResponse:
    type: array
    items:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: Assembly identifier, used in API parameters and responses.
        name:
          type: string
          description: The scientific name of the organism this assembly corresponds to.
        hmm_hit_ga:
          type: number
          description: The Gathering Threshold used when searching for the family in this assembly.
        hmm_hit_tc:
          type: number
          description: The Trusted Cutoff used when searching for the family in this assembly.
        hmm_fdr:
          type: number
          description: The false discovery rate of searching for the family in this assembly.
  familyAssemblyAnnotationStatsResponse:
    properties:
      hmm:
        type: object
        properties:
          divergence:
            type: number
            description: Kimura average divergence, calculated on non-redundant profile hits above the gathering threshold.
          gathering_nonredundant:
            type: integer
            description: Number of non-redundant profile hits above the gathering threshold.
          gathering_all:
            type: integer
            description: Total number of hits above the gathering threshold, including redundant hits.
          trusted_nonredundant:
            type: integer
            description: Number of non-redundant profile hits above the trusted cutoff.
          trusted_all:
            type: integer
            description: Total number of hits above the trusted cutoff, including redundant hits.
  annotationsResponse:
    type: object
    properties:
      offset:
        type: integer
        description: The start position of the results.
      length:
        type: integer
        description: The length of the region included in the results.
      query:
        type: string
        description: The sequence and region covered by the results.
      hits:
        type: array
        description: List of hits found by searching profile hidden markov models with HMMER.
        items:
          type: object
          properties:
            accession:
              type: string
              description: Accession of the matching family.
            sequence:
              type: string
              description: The name of the sequence.
            query:
              type: string
              description: The name of the matching family.
            type:
              type: string
              description: RepeatMasker type of the family.
            bit_score:
              type: number
              description: The bit score of the hit reported by HMMER.
            e_value:
              type: string
              description: The e-value of the hit reported by HMMER.
            model_start:
              type: integer
              description: The start position of the hit within the model.
            model_end:
              type: integer
              description: The end position of the hit within the model.
            strand:
              type: string
              description: The sequence strand where the hit was found; '+' or '-'.
            ali_start:
              type: integer
              description: The start position of the hit within the sequence.
            ali_end:
              type: integer
              description: The end position of the hit within the sequence.
            seq_start:
              type: integer
              description: The start position of the alignment envelope used to reproduce alignments.
            seq_end:
              type: integer
              description: The end position of the alignment envelope used to reproduce alignments.
      tandem_repeats:
        type: array
        description: List of tandem repetitive sequences within the results range.
        items:
          type: object
          properties:
            start:
              type: integer
              description: The start position of the repeat.
            end:
              type: integer
              description: The end position of the repeat.
            type:
              type: string
              description: The repetitive sequence, for example 'GT'.
            repeat_length:
              type: integer
              description: The length of the unit of repetition of the sequence.
            sequence:
              type: string
              description: The name of the sequence searched.
  submitSearchResponse:
    required:
      - id
    properties:
      id:
        type: string
        description: An identifier for this query that can be used to retrieve results.
  versionResponse:
    required:
      - major
      - minor
      - bugfix
    properties:
      major:
        type: string
        description: Major version number.
      minor:
        type: string
        description: Minor version number.
      bugfix:
        type: string
        description: Bugfix version number.
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
        description: Human-readable explanation of the error.
